@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Plus+Jakarta+Sans&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #121212;
  font-family: 'Plus Jakarta Sans';
  color: #ffff;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 25px;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links li {
  display: inline;
  list-style-type: none;
  padding: 4px;
  margin: 8px;
  font-size: 16px;
  color: #ffff;
  text-decoration: none;
  cursor: pointer;
  position: relative;
}

.nav-links a {
  font-size: 16px;
  color: #ffff;
  text-decoration: none;
  cursor: pointer;
  position: relative;
}

.nav-links a::before {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  height: 4px;
  width: 0;
  border-radius: 5px;
  background-color: #ffff;
  transition: width 0.2s ease;
}

.nav-links a:hover::before {
  width: 100%; 
}

.nav-links li.active a {
  position: relative;
  text-decoration: none;
  color: #ffff;
}

.nav-links li.active a::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  border-radius: 5px;
  height: 4px;
  background-color: #F4B400;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

h1 {
  color: #ffff;
  text-align: center;
  font-size: 50px;
  margin-top: 60px;
  margin-bottom: 25px;
  transition: transform 0.3s ease;
  animation: pulse 1s;
}

form {
  display: flex;
  flex-direction: column;
  padding: 2vw 4vw;
  width: 45%;
}

form input, form textarea {
  border: 0;
  margin: 15px 0;
  padding: 20px;
  outline: none;
  font-size: 20px;
  border-radius: 5px;
}

button {
  width: 250px;
  margin: 0 auto;
  margin-top: 15px;
  padding: 15px 5px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  margin-bottom: 50px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0F9D58;
}

.portrait {
  margin-top: 40px;
  width: 30%;
  border-radius: 10px;
  transform-style: preserve-3d;
  animation: movePerspective 3s ease-in-out infinite alternate;
}

footer {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line {
  margin: 0 auto;
  width: 30%;
  background-color: #ffff;
  height: 3px;
  border-radius: 5px;
  margin-top: 80px;
}

#gmail, #linkedin, #github {
  margin: 20px;
}

#gmail:hover, #linkedin:hover, #github:hover {
  transition: transform 0.3s ease;
  transform: scale(1.5);
}

@keyframes pulse {
  0% {
   transform: scale(1);
   opacity: 1;
  }
 
 50% {
   transform: scale(1.2);
   opacity: 0.7;
 }
 
  100% {
   transform: scale(1);
   opacity: 1;
  }
 }

 @keyframes movePerspective {
  0% {
    transform: perspective(800px) rotateY(-8deg);
  }

  100% {
    transform: perspective(1200px) rotateY(8deg);
  }
 }

 @media (max-width: 768px) {
  body {
    font-family: 'Plus Jakarta Sans';
  }

  .container {
    flex-direction: column;
    flex-basis: 100%;
    order: 3;
  }

  form {
    width: 80%;
  }

  button {
    width: 80%;
  }

  .portrait {
    width: 70%;
    flex-basis: 100%;
    order: 2;
    transform: none;
  }

  .line {
    width: 55%;
  }
 }