@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");

:root {
  --black: #121212;
  --darkGray: #333;
  --white: #ffff;
  --yellow: #f4b400;
  --blue: #4285f4;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--black);
  color: var(--white);
  font-family: "Cabin";
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 25px;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links li {
  display: inline;
  list-style-type: none;
  padding: 4px;
  margin: 8px;
  font-size: 16px;
  color: var(--white);
  text-decoration: none;
  cursor: pointer;
  position: relative;
}

.nav-links a {
  color: var(--white);
  text-decoration: none;
  cursor: pointer;
  position: relative;
}

.nav-links a::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  height: 4px;
  width: 0;
  border-radius: 5px;
  background-color: var(--white);
  transition: width 0.2s ease;
}

.nav-links a:hover::before {
  width: 100%;
}

.nav-links li.active a {
  position: relative;
  text-decoration: none;
  color: var(--white);
}

.nav-links li.active a::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  border-radius: 5px;
  height: 4px;
  background-color: var(--yellow);
}

main {
  flex: 1;
}

h1 {
  color: var(--white);
  text-align: center;
  font-size: 50px;
  margin-top: 60px;
  margin-bottom: 25px;
  transition: transform 0.3s ease;
  animation: pulse 1s;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.portrait {
  width: 30%;
  border-radius: 10px;
  transform-style: preserve-3d;
  animation: movePerspective 3s ease-in-out infinite alternate;
}

form {
  display: flex;
  flex-direction: column;
  padding: 2vw 4vw;
  width: 40%;
}

form input,
form textarea {
  border: 0;
  margin: 15px 0;
  padding: 20px;
  outline: none;
  font-size: 20px;
  border-radius: 5px;
}

button {
  width: 250px;
  margin: 0 auto;
  margin-top: 15px;
  padding: 15px 5px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--blue);
  color: var(--white);
}

footer {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  background-color: var(--darkGray);
}

#gmail,
#linkedin,
#github {
  margin: 20px;
}

#gmail:hover,
#linkedin:hover,
#github:hover {
  transition: transform 0.3s ease;
  transform: scale(1.5);
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.2);
    opacity: 0.7;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes movePerspective {
  0% {
    transform: perspective(800px) rotateY(-8deg);
  }

  100% {
    transform: perspective(1200px) rotateY(8deg);
  }
}

@media (max-width: 768px) {
  body {
    font-family: "Cabin";
  }

  h1 {
    order: 1;
  }

  .container {
    flex-direction: column;
    flex-basis: 100%;
  }

  form {
    width: 80%;
    order: 3;
  }

  button {
    width: 80%;
    margin-bottom: 50px;
    background-color: var(--blue);
    color: var(--white);
  }

  .portrait {
    width: 70%;
    margin-top: 50px;
    margin-bottom: 50px;
    flex-basis: 100%;
    order: 2;
    transform-style: preserve-3d;
    animation: movePerspective 2s ease-in-out infinite alternate;
  }

  footer {
    margin-top: 100px;
  }
}

@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .burger {
    display: block;
    cursor: pointer;
    z-index: 1000;
  }

  .burger .line {
    width: 25px;
    height: 3px;
    background-color: var(--white);
    margin: 5px;
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
  }

  .burger.active .line:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  .nav-links.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: var(--darkGray);
    z-index: 999;
  }

  .nav-links.active li {
    margin: 15px 0;
  }
}
