@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #121212;
  font-family: 'Cabin';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 25px;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links li {
  display: inline;
  list-style-type: none;
  padding: 4px;
  margin: 8px;
  font-size: 16px;
  color: #ffff;
  text-decoration: none;
  cursor: pointer;
  position: relative;
}

.nav-links a {
  font-size: 16px;
  color: #ffff;
  text-decoration: none;
  cursor: pointer;
  position: relative;
}

.nav-links a::before {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  height: 4px;
  width: 0;
  border-radius: 5px;
  background-color: #ffff;
  transition: width 0.2s ease;
}

.nav-links a:hover::before {
  width: 100%; 
}

.nav-links li.active a {
  position: relative;
  text-decoration: none;
  color: #ffff;
}

.nav-links li.active a::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  border-radius: 5px;
  height: 4px;
  background-color: #34A853;
}

h1 {
  color: #ffff;
  margin-top: 70px;
  margin-bottom: 100px;
  font-size: 50px;
  text-align: center;
  transition: transform 0.3s ease;
  animation: pulse 1s;
}

.line-break {
  margin: 0 auto;
  background-color: #fff;
  height: .5px;
  border-radius: 5px;
  width: 85%;
}

h3 {
  color: #ffff;
  text-align: left;
  width: 60%;
  line-height: 1.2;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 20px;
  letter-spacing: 2px;
}

.container {
  text-align: center;
}

.image-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 60%;
}

.small-image {
  width: 80px;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

figcaption {
  color: #fff;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 50px;
}

.certificate {
  width: 55%;
  margin-top: 50px;
  margin-bottom: 100px;
  border-radius: 25px;
}

footer {
  background-color: #333333;
  position: absolute;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#gmail, #linkedin, #github {
  margin: 20px;
}

#gmail:hover, #linkedin:hover, #github:hover {
  transition: transform 0.3s ease;
  transform: scale(1.5);
}

@keyframes pulse {
  0% {
   transform: scale(1);
   opacity: 1;
  }
 
 50% {
   transform: scale(1.2);
   opacity: 0.7;
 }
 
  100% {
   transform: scale(1);
   opacity: 1;
  }
 }

@media (max-width: 768px) {
  body {
    font-family: 'Cabin';
  }

  .image-container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
  }

  .small-image {
    width: 60px;
    margin: 0 auto;
    margin-top: 45px;
  }

  h3 {
    font-size: .9rem;
    line-height: 1.5;
    letter-spacing: 1px;
    width: 80%;
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  figcaption {
    margin-top: 3px;
    margin-bottom: 50px;
  }

  .certificate {
    width: 75%;
  }
}

@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .burger {
    display: block;
    cursor: pointer;
  }

  .burger .line {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
    transition: transform 0.4s ease-in-out;
  }

  .burger.active .line:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  .nav-links.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #333;
    z-index: 999;
  }

  .nav-links.active li {
    margin: 15px 0;
  }
}