@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");

:root {
  --black: #121212;
  --darkGray: #333;
  --white: #ffff;
  --blue: #4285f4;
  --yellow: #f4b400;
  --red: #e50914;
  --green: #34a853;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--black);
  font-family: "Cabin";
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 25px;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links li {
  display: inline;
  list-style-type: none;
  padding: 4px;
  margin: 8px;
  font-size: 16px;
  color: var(--white);
  text-decoration: none;
  cursor: pointer;
  position: relative;
}

.nav-links a {
  color: var(--white);
  text-decoration: none;
  cursor: pointer;
  position: relative;
  transition: all 0.3s;
}

.nav-links a::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  height: 4px;
  border-radius: 5px;
  width: 0;
  background-color: var(--white);
  transition: width 0.2s ease;
}

.nav-links a:hover::before {
  width: 100%;
}

.nav-links li.active a {
  position: relative;
  text-decoration: none;
  color: var(--white);
}

.nav-links li.active a::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  border-radius: 5px;
  height: 4px;
  background-color: var(--blue);
}

.showcase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 300px;
  margin-top: 60px;
}

.Gage {
  display: inline-block;
  width: 190px;
  font-size: 100px;
  font-weight: 600;
  margin-right: 50px;
  margin-bottom: 50px;
  color: var(--yellow);
  text-shadow: 4px 4px 0 var(--blue), 8px 8px 0 var(--green),
    12px 12px 0 var(--red);
}

.line-break {
  width: 500px;
  background-color: var(--white);
  height: 1px;
  border-radius: 5px;
}

.projects-container {
  max-width: 550px;
  margin: 0 auto;
  margin-bottom: 20px;
  transition: transform 0.3s ease;
}

.projects {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px;
  transition: transform 0.3s ease;
}

.tripp,
.modrn,
.gtv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70px;
  height: 70px;
  background-color: var(--white);
  border-radius: 50%;
  border: none;
  cursor: pointer;
  margin: 25px;
  text-align: center;
  text-decoration: none;
}

.tripp img,
.modrn img,
.gtv img {
  max-width: 100%;
  max-height: 100%;
}

.link-label {
  position: absolute;
  color: var(--white);
  font-weight: bold;
  text-align: center;
  display: inline-block;
  white-space: nowrap;
  margin-top: 90px;
}

.other-projects-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.other-projects-btn {
  text-decoration: none;
  font-weight: bold;
  color: #121212;
  background-color: var(--white);
  padding: 18px 40px 18px 40px;
  border-radius: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: background-color 0.3s ease;
  width: 500px;
}

.other-projects-btn:hover {
  background-color: var(--blue);
  color: var(--white);
}

.other-projects-btn::after {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url(/Assets/icons8-arrow-30.png);
  background-size: cover;
  margin-left: 10px;
}

footer {
  width: 100%;
  margin-top: 265px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--darkGray);
}

#gmail,
#linkedin,
#github {
  margin: 20px;
}

#gmail:hover,
#linkedin:hover,
#github:hover {
  transition: transform 0.3s ease;
  transform: scale(1.5);
}

@keyframes jump {
  0% {
    transform: translateX(0) rotate(0);
  }
  25% {
    transform: translateX(-5px) rotate(-10deg);
  }
  50% {
    transform: translateX(5px) rotate(10deg);
  }
  75% {
    transform: translateX(-2px) rotate(-5deg);
  }
  100% {
    transform: translateX(0) rotate(0);
  }
}

.Gage {
  animation: bounce 1s;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-100px);
  }
}

@media (max-width: 768px) {
  body {
    font-family: "Cabin";
  }

  .Gage {
    max-width: 50%;
    letter-spacing: -2px;
  }

  .projects-container {
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .line-break {
    max-width: 80%;
  }

  .tripp,
  .modrn,
  .gtv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: var(--white);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    margin: 25px;
    text-align: center;
    text-decoration: none;
  }

  .link-label {
    position: absolute;
    color: var(--white);
    font-weight: bold;
    text-align: center;
    display: inline-block;
    white-space: nowrap;
    margin-top: 60px;
  }

  .other-projects-btn {
    width: 80%;
    margin-top: 30px;
  }

  footer {
    margin-top: 220px;
  }
}

@media screen and (min-width: 469px) and (max-width: 1024px) {
  .line-break {
    width: 50%;
  }

  .other-projects-btn {
    width: 60%;
  }

  .projects-container {
    max-width: 80%;
  }

  .projects {
    justify-content: center;
    gap: 80px;
  }

  .tripp,
  .modrn,
  .gtv {
    width: 60px;
    height: 60px;
    margin: 15px;
  }

  .link-label {
    margin-top: 70px; /* Adjust label position */
  }
}

@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .burger {
    display: block;
    cursor: pointer;
  }

  .burger .line {
    width: 25px;
    height: 3px;
    background-color: var(--white);
    margin: 5px;
    transition: transform 0.4s ease-in-out;
  }

  .burger.active .line:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  .nav-links.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: var(--darkGray);
    z-index: 999;
  }

  .nav-links.active li {
    margin: 15px 0;
  }

  .line-break {
    width: 80%;
  }

  .other-projects-btn {
    width: 80%;
  }

  .projects-container {
    max-width: 100%;
  }

  .projects {
    justify-content: center;
    gap: 10px;
  }

  .other-projects-container {
    margin-top: 50px;
  }
}
