@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #121212;
  font-family: "Cabin";
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 25px;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links li {
  display: inline;
  list-style-type: none;
  padding: 4px;
  margin: 8px;
  font-size: 16px;
  color: #ffff;
  text-decoration: none;
  cursor: pointer;
  position: relative;
}

.nav-links a {
  font-size: 16px;
  color: #ffff;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  transition: all 0.3s;
}

.nav-links a::before {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  height: 4px;
  border-radius: 5px;
  width: 0;
  background-color: #ffff;
  transition: width 0.2s ease;
}

.nav-links a:hover::before {
  width: 100%;
}

.nav-links li.active a {
  position: relative;
  text-decoration: none;
  color: #ffff;
}

.nav-links li.active a::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  border-radius: 5px;
  height: 4px;
  background-color: #4285f4;
}

h1 {
  color: #ffff;
  margin-top: 120px;
  margin-bottom: 50px;
  font-size: 50px;
  text-align: center;
  transition: transform 0.3s ease;
  animation: pulse 1s;
}

.line-break {
  margin: 0 auto;
  background-color: #fff;
  height: 1px;
  border-radius: 5px;
  width: 550px;
}

.projects-container {
  display: flex;
  max-width: 550px;
  margin: 0 auto;
  margin-bottom: 20px;
  transition: transform 0.3s ease;
}

.project-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  color: #fff;
  list-style-type: none;
}

ul li {
  margin-top: 30px;
}

a {
  color: #fff;
}

footer {
  width: 100%;
  margin-top: 265px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
}

#gmail,
#linkedin,
#github {
  margin: 20px;
}

#gmail:hover,
#linkedin:hover,
#github:hover {
  transition: transform 0.3s ease;
  transform: scale(1.5);
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.2);
    opacity: 0.7;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@media (max-width: 768px) {
    body {
      font-family: "Cabin";
    }
  
    h1 {
      max-width: 100%;
      letter-spacing: -2px;
    }
  
    .projects-container {
      max-width: 91%;
      margin: 0 auto;
      margin-bottom: 20px;
    }
  
    .line-break {
      max-width: 80%;
    }
  }

@media screen and (max-width: 768px) {
    .nav-links {
      display: none;
    }
  
    .burger {
      display: block;
      cursor: pointer;
    }
  
    .burger .line {
      width: 25px;
      height: 3px;
      background-color: #fff;
      margin: 5px;
      transition: transform 0.4s ease-in-out;
    }
  
    .burger.active .line:nth-child(1) {
      transform: rotate(-45deg) translate(-5px, 6px);
    }
  
    .burger.active .line:nth-child(2) {
      opacity: 0;
    }
  
    .burger.active .line:nth-child(3) {
      transform: rotate(45deg) translate(-5px, -6px);
    }
  
    .nav-links.active {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: fixed;
      top: 60px;
      left: 0;
      width: 100%;
      background-color: #333;
      z-index: 999;
    }
  
    .nav-links.active li {
      margin: 15px 0;
    }
  }