@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");

:root {
  --black: #121212;
  --darkGray: #333;
  --white: #ffff;
  --blue: #4285f4;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--black);
  font-family: "Cabin";
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 25px;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links li {
  display: inline;
  list-style-type: none;
  padding: 4px;
  margin: 8px;
  font-size: 16px;
  color: var(--white);
  text-decoration: none;
  cursor: pointer;
  position: relative;
}

.nav-links a {
  color: var(--white);
  text-decoration: none;
  cursor: pointer;
  position: relative;
  transition: all 0.3s;
}

.nav-links a::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  height: 4px;
  border-radius: 5px;
  width: 0;
  background-color: var(--white);
  transition: width 0.2s ease;
}

.nav-links a:hover::before {
  width: 100%;
}

.nav-links li.active a {
  position: relative;
  text-decoration: none;
  color: var(--white);
}

.nav-links li.active a::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  border-radius: 5px;
  height: 4px;
}

.project-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 550px;
  margin: 0 auto;
  margin-bottom: 20px;
}

h1 {
  color: var(--white);
  margin-top: 70px;
  margin-bottom: 70px;
  font-size: 50px;
  text-align: center;
  transition: transform 0.3s ease;
  animation: pulse 1s;
}

.line-break {
  background-color: var(--white);
  margin: 0 auto;
  height: 1px;
  border-radius: 5px;
  width: 550px;
}

.project-items li {
  display: flex;
  flex-direction: column;
  border: none;
  color: var(--white);
  list-style-type: none;
  text-align: left;
  margin: 30px 0 30px 0;
}

a {
  color: var(--white);
}

footer {
  background-color: var(--darkGray);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 265px;
  text-align: center;
}

#gmail,
#linkedin,
#github {
  margin: 20px;
}

#gmail:hover,
#linkedin:hover,
#github:hover {
  transition: transform 0.3s ease;
  transform: scale(1.5);
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.2);
    opacity: 0.7;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  body {
    font-family: "Cabin";
  }

  .nav-links {
    display: none;
  }

  .burger {
    display: block;
    cursor: pointer;
  }

  .burger .line {
    width: 25px;
    height: 3px;
    background-color: var(--white);
    margin: 5px;
    transition: transform 0.4s ease-in-out;
  }

  .burger.active .line:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  .nav-links.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: var(--darkGray);
    z-index: 999;
  }

  .nav-links.active li {
    margin: 15px 0;
  }

  .project-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 550px;
    margin: 0 auto;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
  }

  h1 {
    max-width: 100%;
    letter-spacing: -2px;
  }

  .line-break {
    max-width: 80%;
  }

  .project-items li {
    display: flex;
    flex-direction: column;
    border: none;
    color: var(--white);
    list-style-type: none;
    text-align: left;
    margin-left: 40px;
    font-size: 18px;
  }
}
